/* Box d'informations création CPT */
#RPJP_metabox .inside .infos_box{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}
.infos_box .meta-options.field{
    display: contents;
}
.infos_box .meta-options.field select,  .infos_box .meta-options.field input[type=date]{
	max-width : 150px
}
/* FIN Box d'informations création CPT */	
/* Box Settings */
#RPJP_metabox_ref input[type=text] {
	width : 100%
}
/* FIN box settings */	
div#postimagediv{
	display:none;
}

